<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ECQBPPL Trainer Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            font-size: .875rem;
        }

        .feather {
            width: 16px;
            height: 16px;
            vertical-align: text-bottom;
        }

        /*
         * Sidebar
         */

        .sidebar {
            position: fixed;
            top: 0;
            /* rtl:raw:
            right: 0;
            */
            bottom: 0;
            /* rtl:remove */
            left: 0;
            z-index: 100; /* Behind the navbar */
            padding: 48px 0 0; /* Height of navbar */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        @media (max-width: 767.98px) {
            .sidebar {
                top: 5rem;
            }
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        }

        .sidebar .nav-link {
            font-weight: 500;
            color: #333;
        }

        .sidebar .nav-link .feather {
            margin-right: 4px;
            color: #727272;
        }

        .sidebar .nav-link.active {
            color: #2470dc;
        }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

        .sidebar-heading {
            font-size: .75rem;
            text-transform: uppercase;
        }

        /*
         * Navbar
         */

        .navbar-brand {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, .25);
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        }

        .navbar .navbar-toggler {
            top: .25rem;
            right: 1rem;
        }

        .navbar .form-control {
            padding: .75rem 1rem;
            border-width: 0;
            border-radius: 0;
        }

        .form-control-dark {
            color: #fff;
            background-color: rgba(255, 255, 255, .1);
            border-color: rgba(255, 255, 255, .1);
        }

        .form-control-dark:focus {
            border-color: transparent;
            box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
        }

        .callout {
            border: 1px solid #eee;
            border-left-width: .25rem;
            border-radius: .25rem
        }

        .callout-primary {
            border-left-color: #007bff
        }

        .callout-success {
            border-left-color: #28a745
        }

    </style>
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">ECQB PPL Trainer</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Suche" aria-label="Suche">
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="logout">Abmelden</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if state == None %}active{% endif %}" aria-current="page" href="/">
                            <span data-feather="home"></span>
                            Übersicht
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if state == 'questionnaire' %}active{% endif %}" href="/questionnaire">
                            <span data-feather="file"></span>
                            Fragenkatalog
                        </a>
                    </li>
                    {% if is_admin %}
                        <li class="nav-item">
                            <a class="nav-link {% if state == 'usermanagement' %}active{% endif %}"
                               href="/usermanagement">
                                <span data-feather="users"></span>
                                Benutzer
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>SPL Lektionen</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    {% for key, segment in topics_abbreviations.items() %}
                        <li>{{ topics_abbreviations[i] }}</li>
                        <li class="nav-item">
                            <a class="nav-link" href="/quiz?quiztype={{ key }}">
                                <span data-feather="file-text"></span>
                                {{ segment }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            {% if state == 'questionnaire' %}

                <article class="container mb-5">
                    <h2 class="mt-3 mb-3">Fragenkatalog</h2>

                    <div class="p-2 callout callout-primary">
                        Bitte beachten Sie, dass der Aufgabenkataloge nur einen Teil der Prüfungsfragen enthält.
                    </div>

                    <div class="mt-5">
                        {% for key, segment in questions.items() %}

                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#{{ key }}">SPL</a></li>
                                <li class="breadcrumb-item"><a href="#{{ key }}">{{ topics_abbreviations[key] }}</a>
                                </li>
                            </ol>

                        {% endfor %}
                    </div>

                    <div>
                        {% for key, segment in questions.items() %}
                            <div id="{{ key }}"></div>

                            {% for segment2 in segment %}
                                <section class="mt-5 mb-2">

                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">SPL</li>
                                        <li class="breadcrumb-item">{{ topics_abbreviations[key] }} {{ loop.index }}</li>
                                    </ol>

                                    <h5>{{ segment2['question'] }}</h5>
                                    <ul class="list-group">
                                        <li class="list-group-item {% if segment2['true_answer'] == 0 %} callout callout-success {% endif %}">
                                            A) {{ segment2['answers'][0] }}</li>
                                        <li class="list-group-item {% if segment2['true_answer'] == 1 %} callout callout-success {% endif %}">
                                            B) {{ segment2['answers'][1] }}</li>
                                        <li class="list-group-item {% if segment2['true_answer'] == 2 %} callout callout-success {% endif %}">
                                            C) {{ segment2['answers'][2] }}</li>
                                        <li class="list-group-item {% if segment2['true_answer'] == 3 %} callout callout-success {% endif %}">
                                            D) {{ segment2['answers'][3] }}</li>
                                    </ul>
                                </section>

                            {% endfor %}

                        {% endfor %}
                    </div>
                </article>

            {% elif state == 'usermanagement' and is_admin %}

                <article>
                    <div class="container">
                        <h2 class="mt-3 mb-3">Benutzerverwaltung</h2>
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">Benutzername</th>
                                    <th scope="col">Rolle</th>
                                    <th scope="col">Aktion</th>
                                </tr>
                                </thead>

                                <tbody style="vertical-align: middle;">

                                {% for key, segment in users.items() %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        {% if segment['isAdmin'] %}
                                            <td>Admin</td>
                                        {% else %}
                                            <td>Standardbenutzer</td>
                                        {% endif %}
                                        <td>
                                            <button onclick="deleteUser('{{ key }}')" type="button"
                                                    class="btn btn-danger">
                                                Löschen
                                            </button>
                                            {% if segment['isAdmin'] %}
                                                <button onclick="makeDefaultUser('{{ key }}')" type="button"
                                                        class="btn btn-primary">zu Standardbenutzer
                                                </button>
                                            {% else %}
                                                <button onclick="makeAdmin('{{ key }}')" type="button"
                                                        class="btn btn-danger">zu Administrator
                                                </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#createUserModal">Benutzer anlegen
                            </button>
                        </div>
                    </div>

                    <!-- Create user modal -->
                    <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <form id="createUserForm" class="modal-content needs-validation" novalidate>

                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="createUserModalLabel">Benutzer anlegen</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <div class="container mt-3">
                                    <div>
                                        <label for="validationUsername">Benutzername</label>
                                        <input type="text" class="form-control" id="validationUsername"
                                               placeholder="Benutzername" name="username" required>
                                        <div class="valid-feedback">
                                            Benutzername ok!
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mt-2" for="validationPassword">Passwort</label>
                                        <input type="text" class="form-control" id="validationPassword"
                                               placeholder="Passwort" name="password" required>
                                        <div class="valid-feedback">
                                            Passwort ok!
                                        </div>
                                    </div>

                                    <script>
                                        // Example starter JavaScript for disabling form submissions if there are invalid fields
                                        (function () {
                                            'use strict';
                                            window.addEventListener('load', function () {
                                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                                var forms = document.getElementsByClassName('needs-validation');
                                                // Loop over them and prevent submission
                                                var validation = Array.prototype.filter.call(forms, function (form) {
                                                    form.addEventListener('submit', function (event) {
                                                        if (form.checkValidity() === false) {
                                                            event.preventDefault();
                                                            event.stopPropagation();
                                                        }
                                                        form.classList.add('was-validated');
                                                    }, false);
                                                });
                                            }, false);
                                        })();
                                    </script>
                                </div>

                                <div class="modal-footer mt-3">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen
                                    </button>
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Benutzer
                                        anlegen
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <script>
                        function createUserPrivilege(username) {
                            crudReqUser('POST', {username: username})
                        }

                        function deleteUser(username) {
                            crudReqUser('DELETE', {username: username})
                        }

                        function makeDefaultUser(username) {
                            crudReqUser('PUT', {username: username, isAdmin: false})
                        }

                        function makeAdmin(username) {
                            crudReqUser('PUT', {username: username, isAdmin: true})
                        }

                        function createUser(username, password) {
                            crudReqUser('POST', {username: username, password: password})
                        }

                        function crudReqUser(method, json) {
                            const requestOption = {
                                method: method,
                                headers: {'Content-Type': 'application/json'},
                                body: JSON.stringify(json),
                            };

                            fetch(`/api/user`, requestOption)
                                .then((response) => response.json())
                                .then(() => {
                                    location.reload();
                                })
                        }

                        const form = document.getElementById('createUserForm');

                        form.addEventListener('submit', (event) => {
                            createUser(form.elements['username'].value, form.elements['password'].value)
                            event.preventDefault();
                        });
                    </script>
                </article>

            {% elif state == 'quiz' %}

                <article class="container">
                    <h2 class="mt-3 mb-3">Quiz {{ topics_abbreviations[quiz['type']] }}</h2>

                    <section class="mt-5 mb-2">

                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">SPL</li>
                            <li class="breadcrumb-item">{{ topics_abbreviations[quiz['type']] }} {{ quiz['questionNumber'] + 1 }}</li>
                        </ol>

                        <h5>{{ questions[quiz['type']][quiz['questionNumber']]['question'] }}</h5>

                        <ul class="list-group" id="answer-list">
                            {% for i in "0123" %}
                                <li id="answer-{{ i|int }}" style="cursor: pointer;"
                                    onclick="clickAnswer('{{ i|int }}', '{{ quiz['type'] }}', '{{ quiz['questionNumber'] }}')"
                                    class="list-group-item list-group-item-action"
                                    style="list-style-type: none;">
                                    {{ questions[quiz['type']][quiz['questionNumber']]['answers'][i|int] }}
                                </li>
                            {% endfor %}
                        </ul>

                        <button id="continue-quiz-on-failure-button" onclick="continueQuizOnFailure()" type="button"
                                class="btn btn-primary mt-2" style="display:none">Weiter
                        </button>


                        <script>
                            let blockFurtherGuesses = false // When a guess has been made, this prevents further answers

                            function shuffleArray(array) {
                                return array.sort(() => Math.random() - 0.5);
                            }

                            function shuffle() {
                                let container = document.getElementById('answer-list');
                                let elementsArray = Array.prototype.slice.call(container.getElementsByClassName('list-group-item'));
                                elementsArray.forEach(function (element) {
                                    container.removeChild(element);
                                })
                                shuffleArray(elementsArray);
                                elementsArray.forEach(function (element) {
                                    container.appendChild(element);
                                })
                            }

                            shuffle()

                            function clickAnswer(answerIndex, quizType, questionNumber) {
                                if (!blockFurtherGuesses) {
                                    blockFurtherGuesses = true
                                    quizReq('POST', {
                                        answerIndex: answerIndex,
                                        quizType: quizType,
                                        questionNumber: questionNumber,
                                    }, answerIndex)
                                }
                            }

                            function quizReq(method, json) {
                                const requestOption = {
                                    method: method,
                                    headers: {'Content-Type': 'application/json'},
                                    body: JSON.stringify(json),
                                };

                                fetch(`/api/quiz`, requestOption)
                                    .then((response) => response.json())
                                    .then(response => {
                                        if (response['correct']) {
                                            let answer = document.getElementById("answer-" + response['true-answer'])
                                            answer.classList.add("list-group-item-success")

                                            // Wait for some time, then load new question:
                                            setTimeout(() => {
                                                location.reload();
                                            }, 1000);
                                        } else {
                                            for (let i = 0; i < 4; i++) {
                                                let answer = document.getElementById("answer-" + i)
                                                if (i == response['true-answer']) {
                                                    answer.classList.add("list-group-item-success")
                                                } else {
                                                    answer.classList.add("list-group-item-danger")
                                                }
                                            }

                                            // Wait for a click on the quiz-container, then load new question
                                            let continueQuizOnFailureButton = document.getElementById("continue-quiz-on-failure-button")
                                            continueQuizOnFailureButton.style.display = "initial";
                                        }
                                    })
                            }

                            function continueQuizOnFailure() {
                                location.reload();
                            }
                        </script>
                    </section>
                </article>

            {% else %}

                <article class="container">

                <h2 class="mt-3 mb-3">SPL Lektionen</h2>


                {% for key, segment in topics_abbreviations.items() %}
                    {% if loop.index % 2 == 1 %}
                        <div class="row gx-5">
                            <div class="col pb-3">
                                <div class="card callout callout-primary">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ segment }}</h5>
                                        <p>{{ questions[key]|length }} Fragen -
                                            <a href="/quiz?quiztype={{ key }}" class="card-link">Quiz starten</a></p>
                                        <div class="progress mt-3 mb-3">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="col pb-3">
                                <div class="card callout callout-primary">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ segment }}</h5>
                                        <p>30 Fragen -
                                            <a href="/quiz?quiztype={{ key }}" class="card-link">Quiz starten</a></p>
                                        <div class="progress mt-3 mb-3">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

                {% if topics_abbreviations|length % 2 == 1 %}
                    <div class="col pb-3" style="visibility: hidden">
                        <div class="card callout callout-primary">
                            <div class="card-body">
                                <h5 class="card-title">Luftrecht</h5>
                                <p>30 Fragen -
                                    <a href="" class="card-link">Quiz starten</a></p>
                                <div class="progress mt-3 mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}


                <h2 class="mt-3 mb-3">Probeprüfung</h2>

                <div class="row gx-5">
                    <div class="col pb-3">
                        <div class="card callout callout-primary">
                            <div class="card-body">
                                <h5 class="card-title">SPL Probeprüfung</h5>
                                <p>20 Fragen (Bestehen mit 75%) -
                                    <a href="#" class="card-link">Probeprüfung Starten</a></p>
                                <span class="badge bg-primary">Noch nicht bestanden</span>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="mt-3 mb-3">Lernstatistik</h2>

                <h5 class="mt-4">Gesamtfortschritt</h5>
                <div class="container">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                        </div>
                    </div>
                </div>

                <h5 class="mt-4">Lektionen</h5>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Lektion</th>
                            <th scope="col">Punktzahl</th>
                            <th scope="col">Richtigkeit</th>
                            <th scope="col">Datum</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>3</td>
                            <td>Luftrecht</td>
                            <td>10/20</td>
                            <td>50%</td>
                            <td>03.06.2023</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Probeprüfung</td>
                            <td>25/30</td>
                            <td>83%</td>
                            <td>02.06.2023</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Aerodynamik</td>
                            <td>8/10</td>
                            <td>80%</td>
                            <td>02.06.2023</td>
                        </tr>
                        </tbody>
                    </table>
                </div>



                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-3 pb-2 mb-3 border-bottom">
                    <h5>Lernverlauf</h5>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                </div>

                <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
            {% endif %}
            </article>
        </main>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>

<script>
    /* globals Chart:false, feather:false */

    (function () {
        'use strict'

        feather.replace({'aria-hidden': 'true'})

        // Graphs
        var ctx = document.getElementById('myChart')
        // eslint-disable-next-line no-unused-vars
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    'Sunday',
                    'Monday',
                    'Tuesday',
                    'Wednesday',
                    'Thursday',
                    'Friday',
                    'Saturday'
                ],
                datasets: [{
                    data: [
                        15339,
                        21345,
                        18483,
                        24003,
                        23489,
                        24092,
                        12034
                    ],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        })
    })()
</script>

</body>
</html>
