<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ECQBPPL Trainer Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            font-size: .875rem;
        }

        .feather {
            width: 16px;
            height: 16px;
            vertical-align: text-bottom;
        }

        /*
         * Sidebar
         */

        .sidebar {
            position: fixed;
            top: 0;
            /* rtl:raw:
            right: 0;
            */
            bottom: 0;
            /* rtl:remove */
            left: 0;
            z-index: 100; /* Behind the navbar */
            padding: 48px 0 0; /* Height of navbar */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        .sidebar .nav-link {
            font-weight: 500;
            color: #333;
        }

        .sidebar .nav-link .feather {
            margin-right: 4px;
            color: #727272;
        }

        .sidebar .nav-link.active {
            color: var(--bs-primary);
        }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

        .sidebar-heading {
            font-size: .75rem;
            text-transform: uppercase;
        }

        /*
         * Navbar
         */

        .navbar-brand {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, .25);
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        }

        .navbar .navbar-toggler {
            top: .25rem;
            right: 1rem;
        }

        .navbar .form-control {
            padding: .75rem 1rem;
            border-width: 0;
            border-radius: 0;
        }

        .form-control-dark {
            color: #fff;
            background-color: rgba(255, 255, 255, .1);
            border-color: rgba(255, 255, 255, .1);
        }

        .form-control-dark:focus {
            border-color: transparent;
            box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
        }

        .callout {
            border: 1px solid #eee;
            border-left-width: .25rem;
            border-radius: .25rem
        }

        .callout-primary {
            border-left-color: var(--bs-primary)
        }

        .callout-success {
            border-left-color: var(--bs-success)
        }

        .callout-warning {
            border-left-color: var(--bs-warning)
        }

        .callout-secondary {
            border-left-color: var(--bs-secondary)
        }

        /* Progress bar */
        .bg-blue-200 {
            background: var(--bs-blue);
            opacity: 1;
        }

        .bg-blue-400 {
            background: var(--bs-blue);
            opacity: 0.5;
        }

        .bg-blue-600 {
            background: var(--bs-blue);
            opacity: 0.1;
        }
    </style>
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">ECQB PPL Trainer</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if state == None %}active{% endif %}" aria-current="page" href="/">
                            <span data-feather="home"></span>
                            Übersicht
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if state == 'questionnaire' %}active{% endif %}" href="/questionnaire">
                            <span data-feather="file"></span>
                            Fragenkatalog
                        </a>
                    </li>
                </ul>

                {% if is_admin %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Administration</span>
                    </h6>

                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link {% if state == 'usermanagement' %}active{% endif %}"
                               href="/usermanagement">
                                <span data-feather="users"></span>
                                Benutzer
                            </a>
                        </li>
                    </ul>
                {% endif %}

                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/logout">
                            <span data-feather="log-out"></span>
                            Abmelden
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            {% if state == 'questionnaire' %}

                <article class="container mb-5">
                    <h2 class="mt-3 mb-3">Fragenkatalog</h2>

                    <div class="p-2 callout callout-warning">
                        Bitte beachten Sie, dass der Aufgabenkataloge nur einen Teil (maximal 75%) der Prüfungsfragen
                        enthält.
                    </div>

                    <div class="mt-5">
                        {% for key, segment in questions.items() %}

                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#{{ key }}">SPL</a></li>
                                <li class="breadcrumb-item"><a href="#{{ key }}">{{ topics_abbreviations[key] }}</a>
                                </li>
                            </ol>

                        {% endfor %}
                    </div>

                    <div>
                        {% for key, segment in questions.items() %}
                            <div id="{{ key }}"></div>

                            {% for segment2 in segment %}
                                <section class="mt-5 mb-2">

                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">SPL</li>
                                        <li class="breadcrumb-item">{{ topics_abbreviations[key] }} {{ loop.index }}</li>
                                    </ol>

                                    <h5>{{ segment2['question'] }}</h5>
                                    {% if segment2['image'] != "" %}
                                        <img src="/images/{{ key }}{{ segment2['image'] }}" class="mt-3 mb-3 ms-3"
                                             alt="{{ key }} {{ segment2['image'] }} image">
                                    {% endif %}
                                    <ul class="list-group">
                                        <li class="list-group-item {% if segment2['trueAnswer'] == 0 %} callout callout-success {% endif %}">
                                            A) {{ segment2['answers'][0] }}</li>
                                        <li class="list-group-item {% if segment2['trueAnswer'] == 1 %} callout callout-success {% endif %}">
                                            B) {{ segment2['answers'][1] }}</li>
                                        <li class="list-group-item {% if segment2['trueAnswer'] == 2 %} callout callout-success {% endif %}">
                                            C) {{ segment2['answers'][2] }}</li>
                                        <li class="list-group-item {% if segment2['trueAnswer'] == 3 %} callout callout-success {% endif %}">
                                            D) {{ segment2['answers'][3] }}</li>
                                    </ul>
                                </section>

                            {% endfor %}

                        {% endfor %}
                    </div>
                </article>

            {% elif state == 'usermanagement' and is_admin %}

                <article>
                    <div class="container">
                        <h2 class="mt-3 mb-3">Benutzerverwaltung</h2>
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">Benutzername</th>
                                    <th scope="col">Rolle</th>
                                    <th scope="col">Aktion</th>
                                </tr>
                                </thead>

                                <tbody style="vertical-align: middle;">

                                {% for key, segment in users.items() %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        {% if segment['isAdmin'] %}
                                            <td>Admin</td>
                                        {% else %}
                                            <td>Standardbenutzer</td>
                                        {% endif %}
                                        <td>
                                            <button onclick="showDeleteModal('{{ key }}')" type="button"
                                                    class="btn btn-danger" data-bs-toggle="modal"
                                                    data-bs-target="#confirmDeleteUserModal">
                                                Löschen
                                            </button>
                                            {% if segment['isAdmin'] %}
                                                <button onclick="makeDefaultUser('{{ key }}')" type="button"
                                                        class="btn btn-primary">zu Standardbenutzer
                                                </button>
                                            {% else %}
                                                <button onclick="showAdminModal('{{ key }}')" type="button"
                                                        class="btn btn-danger" data-bs-toggle="modal"
                                                        data-bs-target="#confirmUserToAdminModal">zu Administrator
                                                </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#createUserModal">Benutzer anlegen
                            </button>
                        </div>
                    </div>

                    <!-- Create user modal -->
                    <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <form id="createUserForm" class="modal-content needs-validation" novalidate>

                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="createUserModalLabel">Benutzer anlegen</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <div class="container mt-3">
                                    <div>
                                        <label for="validationUsername">Benutzername</label>
                                        <input type="text" class="form-control" id="validationUsername"
                                               placeholder="Benutzername" name="username" required>
                                    </div>
                                    <div>
                                        <label class="mt-2" for="validationPassword">Passwort</label>
                                        <input type="text" class="form-control" id="validationPassword"
                                               placeholder="Passwort" name="password" required>
                                    </div>
                                </div>

                                <div class="modal-footer mt-3">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen
                                    </button>
                                    <button type='submit' name='submit' class="btn btn-primary">Benutzer
                                        anlegen
                                    </button>
                                </div>
                            </form>

                            <script>
                                    (() => {
                                        'use strict'

                                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                        const forms = document.querySelectorAll('.needs-validation')

                                        // Loop over them and prevent submission
                                        Array.from(forms).forEach(form => {
                                            form.addEventListener('submit', event => {
                                                if (!form.checkValidity()) {
                                                    event.preventDefault()
                                                    event.stopPropagation()
                                                }else{
                                                    createUser(form.elements['username'].value, form.elements['password'].value)
                                                    event.preventDefault()
                                                    document.getElementById("")
                                                    $('#createUserModal').modal('hide');
                                                }
                                                form.classList.add('was-validated')
                                            }, false)
                                        })
                                    })()
                                </script>
                        </div>
                    </div>

                    <!-- Confirm user to admin modal -->
                    <div class="modal fade" id="confirmUserToAdminModal" tabindex="-1"
                         aria-labelledby="confirmUserToAdminModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <form id="confirmUserForm" class="modal-content needs-validation" novalidate>

                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="confirmUserToAdminModalLabel">Standardbenutzer zu
                                        Administrator</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <div class="container mt-3">
                                    <b>Vorsicht!</b> Als Administrator kann der Benutzer großen Schaden anrichten.
                                </div>

                                <div class="modal-footer mt-3">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen
                                    </button>
                                    <button id="confirmUserToAdminModalButton" class="btn btn-primary"
                                            data-bs-dismiss="modal">Bestätigen
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Confirm delete modal -->
                    <div class="modal fade" id="confirmDeleteUserModal" tabindex="-1"
                         aria-labelledby="confirmDeleteUserModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <form id="confirmUserForm" class="modal-content needs-validation" novalidate>

                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="confirmDeleteUserModalLabel">Benutzer löschen</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <div class="container mt-3">
                                    <b>Vorsicht!</b> Der Benutzer kann nicht wiederhergestellt werden.
                                </div>

                                <div class="modal-footer mt-3">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen
                                    </button>
                                    <button id="confirmDeleteUserModalButton" class="btn btn-primary"
                                            data-bs-dismiss="modal">Bestätigen
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>


                    <script>
                        function showDeleteModal(username) {
                            const deleteUserModalButton = document.getElementById('confirmDeleteUserModalButton')
                            deleteUserModalButton.onclick = function () {
                                deleteUser(username)
                            }
                        }

                        function deleteUser(username) {
                            crudReqUser('DELETE', {username: username})
                        }

                        function makeDefaultUser(username) {
                            crudReqUser('PUT', {username: username, isAdmin: false})
                        }

                        function showAdminModal(username) {
                            const adminUserModalButton = document.getElementById('confirmUserToAdminModalButton')
                            adminUserModalButton.onclick = function () {
                                makeAdmin(username)
                            }
                        }

                        function makeAdmin(username) {
                            crudReqUser('PUT', {username: username, isAdmin: true})
                        }

                        function createUser(username, password) {
                            crudReqUser('POST', {username: username, password: password})
                        }

                        function crudReqUser(method, json) {
                            const requestOption = {
                                method: method,
                                headers: {'Content-Type': 'application/json'},
                                body: JSON.stringify(json),
                            }

                            fetch(`/api/user`, requestOption)
                                .then((response) => response.json())
                                .then(() => {
                                    location.reload()
                                })
                        }
                    </script>
                </article>

            {% elif state in ['mockexam', 'quiz']: %}

                <script>
                    function shuffleArray(array) {
                        return array.sort(() => Math.random() - 0.5)
                    }

                    function shuffle() {
                        const containers = document.getElementsByClassName('list-group')

                        Array.from(containers).forEach(container => {
                            const elementsArray = Array.prototype.slice.call(container.getElementsByClassName('list-group-item'))
                            elementsArray.forEach(function (element) {
                                container.removeChild(element)
                            })
                            shuffleArray(elementsArray)
                            elementsArray.forEach(function (element) {
                                container.appendChild(element)
                            })
                        })
                    }
                </script>

                {% if state == 'mockexam' %}

                    <article class="container">
                        <h2 class="mt-3 mb-3">Probeprüfung {{ topics_abbreviations[mockexam['type']] }}</h2>

                        {% for question_number in mockexam['questionNumbers'] %}

                            <section class="mt-5 mb-2">

                                <h5>{{ questions[mockexam['type']][question_number]['question'] }}</h5>

                                {% if questions[mockexam['type']][question_number]['image'] != "" %}
                                    <img src="/images/


                                            {{ mockexam['type'] }}{{ questions[mockexam['type']][question_number]['image'] }}"
                                         class="mt-3 mb-3 ms-3"
                                         alt="{{ mockexam['type'] }} {{ questions[mockexam['type']][question_number]['image'] }} image">
                                {% endif %}

                                <ul class="list-group" id="answer-list-{{ question_number }}">
                                    {% for i in "0123" %}
                                        <li id="answer-{{ question_number }}-{{ i|int }}" style="cursor: pointer;"
                                            onclick="selectAnswer('{{ i|int }}', '{{ mockexam['type'] }}', '{{ question_number }}', this)"
                                            class="list-group-item list-group-item-action"
                                            style="list-style-type: none;">
                                            {{ questions[mockexam['type']][question_number]['answers'][i|int] }}
                                        </li>
                                    {% endfor %}
                                </ul>

                                <script>
                                    shuffle()
                                </script>
                            </section>

                        {% endfor %}

                        <button id="evaluate-mockexam-button" onclick="evaluateMockexam('{{ mockexam['type'] }}')"
                                type="button" class="btn btn-primary my-5 disabled">
                            Probeprüfung auswerten
                        </button>

                        <div id="mockexam-evaluation-success" style="display: none">
                            <div class="card my-5 rounded-3 shadow-sm border-success text-center">
                                <div class="card-header py-3 text-white bg-success border-success">
                                    <h4 class="my-0 fw-normal">Bestanden</h4>
                                </div>
                                <div class="card-body">
                                    <h1 id="mockexam-percent" class="card-title pricing-card-title">100%</h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li><span id="mockexam-correct-answers">10</span> von <span
                                                id="mockexam-all-answers">10</span> Fragen wurden richtig
                                            geantwortet.
                                        </li>
                                        <li>Hinweis: 25% - 50% der Prüfungsfragen sind trotzdem geheim.</li>
                                        <li>Auswendiglernen der Fragen ist nicht zielführend.</li>
                                    </ul>
                                </div>
                            </div>

                            <a href="/" type="button" class="btn btn-primary mb-5" role="button">Zurück</a>
                        </div>

                        <div id="mockexam-evaluation-failure" class="my-5" style="display: none">
                            <div class="card my-5 rounded-3 shadow-sm border-danger text-center">
                                <div class="card-header py-3 text-white bg-danger border-danger">
                                    <h4 class="my-0 fw-normal">Fehlgeschlagen</h4>
                                </div>
                                <div class="card-body">
                                    <h1 id="mockexam-percent" class="card-title pricing-card-title">50%</h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li><span id="mockexam-correct-answers">10</span> von <span
                                                id="mockexam-all-answers">10</span> Fragen wurden richtig
                                            geantwortet.
                                        </li>
                                        <li>Mindestens 75% der Fragen, müssen richtig beantwortet werden.
                                        </li>
                                        <li>Hinweis: 25% - 50% der Prüfungsfragen sind geheim.</li>
                                        <li>Auswendiglernen der Fragen ist nicht zielführend.</li>
                                    </ul>
                                </div>
                            </div>

                            <a href="/" type="button" class="btn btn-primary mb-5" role="button">Zurück</a>
                        </div>

                        <script>
                            let mockexamAnswers = {}

                            function selectAnswer(answerIndex, quizType, questionNumber) {
                                for (let i = 0; i < 4; i++) {
                                    const answer = document.getElementById("answer-" + questionNumber + "-" + i)

                                    if (i == answerIndex) {
                                        answer.classList.add("list-group-item-secondary")
                                        mockexamAnswers[questionNumber] = answerIndex
                                        if (Object.keys(mockexamAnswers).length === 10) {
                                            const evaluateMockexamButton = document.getElementById("evaluate-mockexam-button")
                                            evaluateMockexamButton.classList.remove("disabled")
                                        }
                                    } else {
                                        answer.classList.remove("list-group-item-secondary")
                                    }
                                }
                            }

                            function evaluateMockexam(quizType) {
                                mockexamReq("POST", {
                                    quizType: quizType,
                                    mockexamAnswers: mockexamAnswers,
                                }, mockexamAnswers)
                            }

                            function mockexamReq(method, json, mockexamAnswers) {
                                const requestOption = {
                                    method: method,
                                    headers: {'Content-Type': 'application/json'},
                                    body: JSON.stringify(json),
                                }

                                fetch(`/api/mockexam`, requestOption)
                                    .then((response) => response.json())
                                    .then(response => {
                                        const answersCorrect = response["answersCorrect"]
                                        const correctCount = response["correctCount"]
                                        const incorrectCount = response["incorrectCount"]

                                        for (const questionNumber in answersCorrect) {
                                            const isCorrect = mockexamAnswers[questionNumber] == answersCorrect[questionNumber]

                                            const correctAnswer = document.getElementById("answer-" + questionNumber + "-" + answersCorrect[questionNumber])
                                            correctAnswer.classList.remove("list-group-item-secondary")
                                            correctAnswer.classList.add("list-group-item-success")

                                            if (!isCorrect) {
                                                const wrongAnswer = document.getElementById("answer-" + questionNumber + "-" + mockexamAnswers[questionNumber])
                                                wrongAnswer.classList.remove("list-group-item-secondary")
                                                wrongAnswer.classList.add("list-group-item-danger")
                                            }
                                        }

                                        const mockexamEvaluateButton = document.getElementById("evaluate-mockexam-button")
                                        mockexamEvaluateButton.style.display = "none"

                                        const allAnswersCount = (correctCount + incorrectCount)
                                        const correctPercent = correctCount / allAnswersCount
                                        let mockexamEvaluation

                                        if (correctPercent >= 0.75) {
                                            mockexamEvaluation = document.getElementById("mockexam-evaluation-success")
                                            document.getElementById("mockexam-evaluation-failure").remove()
                                        } else {
                                            mockexamEvaluation = document.getElementById("mockexam-evaluation-failure")
                                            document.getElementById("mockexam-evaluation-success").remove()
                                        }
                                        mockexamEvaluation.style.display = "initial"

                                        const mockexamCorrectAnswers = document.getElementById("mockexam-correct-answers")
                                        mockexamCorrectAnswers.innerText = correctCount
                                        const mockexamAllAnswers = document.getElementById("mockexam-all-answers")
                                        mockexamAllAnswers.innerText = allAnswersCount

                                        const mockexamPercentText = document.getElementById("mockexam-percent")
                                        mockexamPercentText.innerText = Math.floor(correctPercent * 100) + "%"
                                    })
                            }
                        </script>
                    </article>

                {% elif state == 'quiz' %}

                    <article class="container">
                        <h2 class="mt-3 mb-3">Quiz {{ topics_abbreviations[quiz['type']] }}</h2>

                        <section class="mt-5 mb-2">

                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">SPL</li>
                                <li class="breadcrumb-item">{{ topics_abbreviations[quiz['type']] }} {{ quiz['questionNumber'] + 1 }}</li>
                            </ol>

                            <h5>{{ questions[quiz['type']][quiz['questionNumber']]['question'] }}</h5>
                            {% if questions[quiz['type']][quiz['questionNumber']]['image'] != "" %}
                                <img src="/images/


                                        {{ quiz['type'] }}{{ questions[quiz['type']][quiz['questionNumber']]['image'] }}"
                                     class="mt-3 mb-3 ms-3"
                                     alt="{{ quiz['type'] }} {{ questions[quiz['type']][quiz['questionNumber']]['image'] }} image">
                            {% endif %}

                            <ul class="list-group" id="answer-list">
                                {% for i in "0123" %}
                                    <li id="answer-{{ i|int }}" style="cursor: pointer;"
                                        onclick="clickAnswer('{{ i|int }}', '{{ quiz['type'] }}', '{{ quiz['questionNumber'] }}')"
                                        class="list-group-item list-group-item-action"
                                        style="list-style-type: none;">
                                        {{ questions[quiz['type']][quiz['questionNumber']]['answers'][i|int] }}
                                    </li>
                                {% endfor %}
                            </ul>

                            <button id="continue-quiz-on-failure-button" onclick="continueQuizOnFailure()" type="button"
                                    class="btn btn-primary mt-2" style="display:none">Weiter
                            </button>


                            <script>
                                let blockFurtherGuesses = false // When a guess has been made, this prevents further answers

                                function shuffleArray(array) {
                                    return array.sort(() => Math.random() - 0.5)
                                }

                                function shuffle() {
                                    const container = document.getElementById('answer-list')
                                    const elementsArray = Array.prototype.slice.call(container.getElementsByClassName('list-group-item'))
                                    elementsArray.forEach(function (element) {
                                        container.removeChild(element)
                                    })
                                    shuffleArray(elementsArray)
                                    elementsArray.forEach(function (element) {
                                        container.appendChild(element)
                                    })
                                }

                                shuffle()

                                function clickAnswer(answerIndex, quizType, questionNumber) {
                                    if (!blockFurtherGuesses) {
                                        blockFurtherGuesses = true
                                        quizReq('POST', {
                                            answerIndex: answerIndex,
                                            quizType: quizType,
                                            questionNumber: questionNumber,
                                        })
                                    }
                                }

                                function quizReq(method, json) {
                                    const requestOption = {
                                        method: method,
                                        headers: {'Content-Type': 'application/json'},
                                        body: JSON.stringify(json),
                                    }

                                    fetch(`/api/quiz`, requestOption)
                                        .then((response) => response.json())
                                        .then(response => {
                                            if (response['correct']) {
                                                const answer = document.getElementById("answer-" + response['trueAnswer'])
                                                answer.classList.add("list-group-item-success")

                                                // Wait for some time, then load new question:
                                                setTimeout(() => {
                                                    location.reload()
                                                }, 1000)
                                            } else {
                                                for (let i = 0; i < 4; i++) {
                                                    const answer = document.getElementById("answer-" + i)
                                                    if (i == response['trueAnswer']) {
                                                        answer.classList.add("list-group-item-success")
                                                    } else {
                                                        answer.classList.add("list-group-item-danger")
                                                    }
                                                }

                                                // Wait for a click on the quiz-container, then load new question
                                                const continueQuizOnFailureButton = document.getElementById("continue-quiz-on-failure-button")
                                                continueQuizOnFailureButton.style.display = "initial"
                                            }
                                        })
                                }

                                function continueQuizOnFailure() {
                                    location.reload()
                                }
                            </script>
                        </section>
                    </article>

                {% endif %}

            {% else %}

                <article class="container">

                <h2 class="mt-3 mb-3">SPL Lektionen</h2>


                {% for key, segment in topics_abbreviations.items() %}
                    {% if loop.index % 2 == 1 %}
                        <div class="row gx-5">
                    {% endif %}

                <div class="col pb-3">
                    <div class="card callout callout-primary">
                        <div class="card-body">
                            <h5 class="card-title">{{ segment }}</h5>
                            <p>{{ questions[key]|length }} Fragen -
                                <a href="/quiz?quiztype={{ key }}">Lernen</a>
                                - <a href="/mockexam?quiztype={{ key }}">Probeprüfung starten</a>
                            </p>

                            <div class="mt-3 mb-3" style="cursor: help;"
                                 data-toggle="tooltip" data-placement="top"
                                 title="Erreiche 100%, indem du alle Fragen mindestens 3-mal hintereinander richtig beantwortest.
{{ progress[key]['absolute']['1'] }}% der Fragen wurden 1-mal richtig beantwortet.
{{ progress[key]['absolute']['2'] }}% der Fragen wurden 2-mal richtig beantwortet.
{{ progress[key]['absolute']['3'] }}% der Fragen wurden mindestens 3-mal richtig beantwortet.">
                                <div class="progress-stacked">
                                    <div class="progress" role="progressbar" aria-label="Segment one"
                                         aria-valuenow="{{ progress[key]['relative']['3'] }}" aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="width: {{ progress[key]['relative']['3'] }}%">
                                        <div class="progress-bar bg-blue-200"></div>
                                    </div>
                                    <div class="progress" role="progressbar" aria-label="Segment one"
                                         aria-valuenow="{{ progress[key]['relative']['2'] }}" aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="width: {{ progress[key]['relative']['2'] }}%">
                                        <div class="progress-bar bg-blue-400"></div>
                                    </div>
                                    <div class="progress" role="progressbar" aria-label="Segment two"
                                         aria-valuenow="{{ progress[key]['relative']['1'] }}" aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="width: {{ progress[key]['relative']['1'] }}%">
                                        <div class="progress-bar bg-blue-600"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if loop.index % 2 == 0 %}
                    </div>
                {% endif %}

                {% endfor %}

                {# Make a mock card, if there is an odd count  #}
                {% if topics_abbreviations|length % 2 == 1 %}
                    <div class="col pb-3" style="visibility: hidden">
                        <div class="card">
                            <div class="card-body"></div>
                        </div>
                    </div>
                {% endif %}

                <!--
                <h2 class="mt-3 mb-3">Lernstatistik</h2>

                <h5 class="mt-4">Lektionen</h5>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Lektion</th>
                            <th scope="col">Punktzahl</th>
                            <th scope="col">Richtigkeit</th>
                            <th scope="col">Datum</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>3</td>
                            <td>Luftrecht</td>
                            <td>10/20</td>
                            <td>50%</td>
                            <td>03.06.2023</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Probeprüfung</td>
                            <td>25/30</td>
                            <td>83%</td>
                            <td>02.06.2023</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Aerodynamik</td>
                            <td>8/10</td>
                            <td>80%</td>
                            <td>02.06.2023</td>
                        </tr>
                        </tbody>
                    </table>
                </div>



                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-4 mb-2">
                    <h5>Lernverlauf</h5>
                </div>

                <canvas class="mb-4 w-100" id="myChart" width="900" height="380"></canvas>

                <script>
                    /* globals Chart:false, feather:false */

                    (function () {
                        'use strict'

                        feather.replace({'aria-hidden': 'true'})

                        // Graphs
                        var ctx = document.getElementById('myChart')

                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: [
                                    'Sunday',
                                    'Monday',
                                    'Tuesday',
                                    'Wednesday',
                                    'Thursday',
                                    'Friday',
                                    'Saturday'
                                ],
                                datasets: [{
                                    data: [
                                        15339,
                                        21345,
                                        18483,
                                        24003,
                                        23489,
                                        24092,
                                        12034
                                    ],
                                    lineTension: 0,
                                    backgroundColor: 'transparent',
                                    borderColor: '#007bff',
                                    borderWidth: 4,
                                    pointBackgroundColor: '#007bff'
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: false
                                        }
                                    }]
                                },
                                legend: {
                                    display: false
                                }
                            }
                        })
                    })()
                </script>-->
            {% endif %}
            </article>
        </main>
    </div>
</div>

<script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

<script async src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>

<script>feather.replace()</script>
</body>
</html>
